*{
    margin: 0;
    padding: 0;
}

:root {
    --font-Name :'Space Grotesk', sans-serif;
    --dark-color:#102542;
    --primary-color:#f87060;
    --light-color:#cdd7d6;

}

body {
    background-color: var(--dark-color);
    font-family: var(--font-Name);
}

header {
    width: 100%;
}

header nav {
    background-color: var(--primary-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: var(--dark-color);
    font-weight: bold;
    position: relative;
}

header .menu__item {
    position: absolute;
    background-color: var(--light-color);
    width: 100%;
    /* padding: 1em; */
}

.menu__item ul li {
    display: flex;
    padding: 1em;
    justify-content: center;
    font-weight: bold;
    color: var(--dark-color);
    transition: 0.3s ease-in-out all;
    transform: ;
}


.menu__item ul li:hover {
    background-color: var(--primary-color);
    color: var(--dark-color);
}


.hidden {
    display: none;
}
